<div class="row">
<div class="col-md-2">
        <img src="https://ooo.0o0.ooo/2017/05/21/592187f12feac.png" alt="logo.png" title="logo.png" class="img-responsive" />

</div>
<!-- 首页右边的图片组 -->
<div class="col-md-10">
    <div id="layout">
        <ul>
            <li>
                <%= link_to 'https://arcane-chamber-18488.herokuapp.com/products/1' do %><%= image_tag("p1.jpg") %><% end %>      </li>
                <li>
                    <%= link_to 'https://arcane-chamber-18488.herokuapp.com/products/2' do %><%= image_tag("p2.jpg") %><% end %>
                </li>
                <li>
                    <%= link_to 'https://arcane-chamber-18488.herokuapp.com/products/3' do %><%= image_tag("p3.jpg") %><% end %>
                </li>
                <li>
                    <%= link_to 'https://arcane-chamber-18488.herokuapp.com/products/4' do %><%= image_tag("p4.jpg") %><% end %>
                </li>
                <li>
                    <%= link_to 'https://arcane-chamber-18488.herokuapp.com/products/8' do %><%= image_tag("p5.jpg") %><% end %>
                </li>
                <li>
                    <%= link_to 'https://arcane-chamber-18488.herokuapp.com/products/9' do %><%= image_tag("p6.jpg") %><% end %>
                </li>
                <li>
                    <%= link_to 'https://arcane-chamber-18488.herokuapp.com/products/5' do %><%= image_tag("p7.jpg", height:360, width:360) %><% end %>
                </li>
                <li>
                    <%= link_to 'https://arcane-chamber-18488.herokuapp.com/products/6' do %><%= image_tag("p8.jpg", height:360, width:360) %><% end %>
                </li>
                <li>
                    <%= link_to 'https://arcane-chamber-18488.herokuapp.com/products/7' do %><%= image_tag("p9.jpg", height:360, width:360) %><% end %>
                </li>
        </ul>
    </div>
</div>
<!-- 首页右边的图片组 结束 -->
</div>
